@import "susy";
@import "compass/css3";

/* Susy constants */

$total-columns: 16;
$column-width: 3.5em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

/* Colors */

$gray: #292929;
$light-gray: #323232;
$red: #F24632;
$orange: #F27B1A;
$green: #7BA825;
$blue: #3F9BBF;
$white: #FFF;

/* Dimensions */

$nav-height: 60px;
$title-font-size: 1.35*$column-width;
$nav-tab-font-size: .35*$column-width; 
$nav-tab-radius: 10px;

/* Other */

$fonts: Telegrafico;

@include font-face(Telegrafico, font-files("telegrafico.woff", "telegrafico.eot", "telegrafico.ttf", "telegrafico.svg"));

body {
	background-color: $gray;
	text-align: center;
	font-family: $fonts;
	color: $white;
	.page {
		@include container($total-columns);
		@include susy-grid-background;
		background-color: $light-gray;
		header {
			.title {
				@include span-columns(8);
				@include push(4);
				font-size: $title-font-size;
				clear: both;
			}
			nav {
				@include span-columns(8);
				@include push(4);
				@include border-bottom-right-radius($nav-tab-radius);
				@include border-bottom-left-radius($nav-tab-radius);
				background-color: $white;
				height: $nav-height;
				clear: both;
				.nav-tab {
					font-size: $nav-tab-font-size;
					height: $nav-height;
					@include with-grid-settings(4,25%,0%,0%) {
						@include span-columns(1);
					}
					&#nav-left {
						background-color: $blue;
						@include border-bottom-left-radius($nav-tab-radius);
					}
					&#nav-mid-left {
						background-color: $green;
					}
					&#nav-mid-right {
						background-color: $orange;
					}
					&#nav-right {
						background-color: $red;
						@include border-bottom-right-radius($nav-tab-radius);
					}
					p {
						padding-top: 12%;
					}
				}
			}
		}
		.main {
			@include span-columns(8,16);
		}
		.sidebar {
			@include span-columns(4,16);
		}
		.footer {
			@include span-columns(8);
			@include push(4);
			clear: both;
		}
	}
}

a {
	color: $white;
}