@import "susy";
@import "compass/css3";

/* Susy constants */

$total-columns: 16;
$column-width: 3.5em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

/* Colors */

$gray: #292929;
$light-gray: #323232;
$font-gray: #777777;
$font-black: #444444;
$red: #F24632;
$orange: #F27B1A;
$green: #7BA825;
$blue: #3F9BBF;
$white: #FFF;
$off-white: #E5E5E5;
$off-white-inset: #D5D5D5;

/* Dimensions */

$nav-height: 60px;
$nav-hover-height: 1.2*$nav-height;
$headline-font-size: 1.35*$column-width;
$title-font-size: .67*$column-width;
$section-font-size: .48*$column-width;
$nav-tab-font-size: .35*$column-width; 
$body-font-size: .32*$column-width;
$nav-tab-radius: 10px;
$border-thickness: $nav-hover-height - $nav-height;
$content-box-radius: 1.2*$border-thickness;

/* Other */

$title-fonts: Telegrafico;
$header-fonts: "Source Sans Pro", Telegrafico;
$body-fonts:  "Source Sans Pro", Arvo, "Josefin Slab", Neuton, Telegrafico, "Times New Roman";

@include font-face(Telegrafico, font-files("/assets/fonts/telegrafico.woff", "/assets/fonts/telegrafico.eot", "/assets/fonts/telegrafico.ttf", "/assets/fonts/telegrafico.svg"));

@mixin content-box {
	background-color: $off-white;
	color: $font-black;
	font-family: $body-fonts;
	font-size: $body-font-size;
	padding: 0 1em .5em 1em;
	text-align: left;
	// @include border-radius($content-box-radius);
	h1 {
		color: $font-black;
		font-family: $header-fonts;
		font-size: $title-font-size;
		font-weight: 400;
		margin-top: .5rem;
	}
	h2 {
		color: $font-gray;
		font-family: $header-fonts;
		font-size: $section-font-size;
		font-weight: 300;
		margin-top: .5rem;
		margin-bottom: .45rem;
	}
	h3 {
		font-family: $header-fonts;
		font-weight: 400;
		margin-top: .35rem;
		margin-bottom: .45rem;
	}
	p {
		font-weight: 400;
		margin-top: .6rem;
		margin-bottom: .45rem;
	}
	a {
		color: $font-black;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
			text-decoration-color: $font-black;
		}
	}
}

@mixin inset-box {
	background-color: $white;
	border: 3px inset $off-white;
}

body {
	background-color: $gray;
	text-align: center;
	font-family: $title-fonts;
	color: $white;
	@include border-box-sizing;
	.page {
		@include container($total-columns);
		@include susy-grid-background;
		background-color: $light-gray;
		padding-bottom: 2.5em;
		header {
			.title {
				@include span-columns(8, 16);
				@include push(4);
				font-size: $headline-font-size;
				clear: both;
				margin-bottom: .25em;
			}
			nav {
				@include span-columns(8, 16);
				@include push(4);
				background-color: $white;
				height: $nav-height;
				clear: both;
				.nav-tab {
					font-size: $nav-tab-font-size;
					height: $nav-height;
					@include with-grid-settings(4,25%,0%,0%) {
						@include span-columns(1, 4);
					}
					&#nav-left {
						background-color: $blue;
					}
					&#nav-mid-left {
						background-color: $green;
					}
					&#nav-mid-right {
						background-color: $orange;
					}
					&#nav-right {
						background-color: $red;
					}
					&:hover {
						height: $nav-hover-height;
						@include opacity(.75);
					}
					p {
						padding-top: 12%;
					}
				}
			}
		}
		#main {
			// @include susy-grid-background;
			@include span-columns(12);
			@include push(2);
			@include content-box;
			h1, h2, h3 {
				clear: both;
			}
			.project-type {
				// @include susy-grid-background;
				padding: 0em .5em 0em .5em;
				border: 2px solid $green;
				@include span-columns(8);
				clear: none;
				@include nth-omega(2n);
				.project-box {
					@include span-columns(12);
					@include push(2);
					border: 4px inset $green;
					background-color: $off-white-inset;
					padding: .1em;
					margin-top: .25em;
					margin-bottom: .75em;
					@include with-grid-settings(2,50%,0%,0%) {
						img {
							@include span-columns(1);
						}
					}
					h3 {
						text-align: center;
					}
					p {
						text-align: center;
						font-size: $body-font-size*.8; 
					}
					&:hover {
						opacity: .9;
					}
				}
			}
		}
		.sidebar {
			@include span-columns(4,16);
		}
		.footer {
			@include span-columns(8,16);
			@include push(4);
			clear: both;
		}
	}
}

.about {
	border: $border-thickness solid $blue;
}
.projects {
	border: $border-thickness solid $green;
}
.interests {
	border: $border-thickness solid $orange;
}
.contact {
	border: $border-thickness solid $red;
}

.title-kern {
	letter-spacing: -.1em;
}

a {
	color: $white;
	text-decoration: none;
}

ul {
	list-style-position: inside;
}