---
title: "Actifio"
headline: "Actifio Mobile"
---

<% content_for :overview do %>
	<p>During the summer between high school and college (June 2012 - August 2012), I had my first development job, working for <a href="http://www.actifio.com" target="_blank">Actifio, Inc</a>. Having just taken AP Computer Science my senior year, I familiarized myself with the Android SDK and put my java skills to work. The app, using Actifio's REST API behind a sleek, clean Android UI, allowed Actifio clients to monitor the status of their copy data.</p>
<% end %>

<% content_for :tools do %>
	<ul>
		<li>Java</li>
		<li>XML</li>
		<li>Android SDK</li>
		<li>REST</li>
	</ul>
	<p>This project was my first experience with the Android SDK. I developed natively for android, working in Eclipse with the ADT plugin. Since I was interfacing with Actifio's existing backend, Actifio Mobile made use of the same REST API used by Actifio's desktop application.</p>
<% end %>

<% content_for :source do %>
	<p>The source for this project contained a number of things that I can't share publicly, and so unfortunately it is not on my GitHub...sorry! But really, it wasn't all that interesting anyways. For some much cooler android code, check out my work on <a href="/projects/hubz">BikeHubz</a>.</p>
<% end %>

<% content_for :details do %>
	<p>This project was a great learning experience for me. Not only was it my first development job, but also my first real experience with computer science outside of the classroom. I learned by getting my hands dirty -- by making mistakes and then fixing them. I benefitted a lot from the collective knowledge of the Actifio team, but also at times had to solve difficult problems on my own, since the "mobile division" consisted only of me and one other intern.</p>
	
	<p>Unfortunately, as of right now, there is not a lot of information I can share about this project. I seem to have lost/accidentally deleted all of my screenshots and documents form the app development process during my switch from Windows to Linux, which leaves me with no visuals to show. If I happen to find them at any point, I will post them up here, but for now all I have is my project abstract, posted below.</p>

	<h3>Abstract</h3>
	<p>Created an Android user interface for Actifio's Protection &amp; Availability Storage (PAS) platform. Using Android's native UI elements and design principles, designed the application to deliver a large quantity of information in a manner that was both easy to read and efficient. Worked closely with the iOS developer designing the counterpart app for Apple devices to ensure a consistent user experience across both platforms.</p>
<% end %>