---
title: "Arduino &amp; rPi"
headline: "Arduino &amp; Raspberry Pi"
---

<% content_for :overview do %>
	<p>During the first semester of our sophomore year (Fall 2013), My roommate <a href="http://www.linkedin.com/pub/jake-wachlin/55/b92/766" target="_blank">Jake Wachlin</a> and I decided to play around with an Arduino and some LED lights. At the same time I had decided to make the $35 investment in a Raspberry Pi and see what cool things I could do with the little computer. The projects described in this section are my experiments with one or both of these powerful little decices. They were undertaken purely because they were fun; unfortunately, that also means that many of them get tabled when schoolwork or other higher-priority projects demand my attention.</p>
<% end %>

<% content_for :tools do %>
	<ul>
		<li>Raspberry Pi</li>
		<li>Raspbian</li>
		<li>Bash Scripting</li>
		<li>Arduino Mega</li>
		<li>Arduino IDE/ino</li>
		<li>Python</li>
	</ul>
	<p>For this project, I worked with a Raspberry Pi model B, and ran Raspbian on it. Although it does have a GUI, I only ever worked from the command line, as it was much faster and a better learning experience for me to do so. I also delved into bash scripting for the first time when I wanted to start automating common tasks on the RPi.</p>
	<p>On the arduino side of things, I have not done anything particularly complicated from an Electrical Engineering standpoint -- only very basic circuits. I did, however, make use of <a href="http://inotool.org" target="_blank">ino</a>, a CLI for working with Arduino that piggybacks on the Arduino IDE, and it proved to be a very useful tool. When I wanted to pass data between the Arduino and the Raspberry Pi, I used a simple Python script on the Pi and the Serial libraries on the Arduino.</p>
<% end %>

<% content_for :source do %>
	<p>I haven't posted the source for these projects yet, but I plan to at some point in the future!</p>
<% end %>