---
title: "My Site"
headline: "RyanChipman.com"
---

<% content_for :overview do %>
<p>Though I registered this domain name and put up some placeholder pages back in winter 2012-2013, it was not until January 2014 that I started putting serious work into developing this site. This site is my online portfolio for showcasing me and my work, but has also served as a great opportunity for me to flex my web development and design muscles.</p>
<% end %>

<% content_for :tools do %>
<ul>
	<li>HTML</li>
	<li>Sass</li>
	<li>Compass</li>
	<li>Susy</li>
	<li>Ruby</li>
	<li>Nanoc</li>
</ul>
<p>Since it is a reltively small and simple website, I have chosen to use the ruby-based static site generator <a href="http://nanoc.ws" target="_blank">nanoc</a>, written and actively developed by <a href="https://github.com/ddfreyne" target="_blank">Denis Defreyne</a>. On the design side of things, I used Compass and Susy because I wanted the benefits of their CSS helpers and grids, but opted to do the design myself with Sass instad of using scaffolding form frameworks like Blueprint or Bootstrap.</p>
<% end %>

<% content_for :source do %>
<p>The source for this project can be found in <a href="https://github.com/rychipman/ryanchipman" target="_blank">this github repo</a>.</p>
<% end %>